@media(max-width:576px){
    
    .header .right{
        display: none;
    }
    /* section 1 */
    .section1{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
    .section1 .left{
        margin: 100px 0px 0px 0px;
        padding: 0px 0px 0px 30px;
        width: 100%;
    }
    .section1 .left h6 {
        font-size: 15px;
        padding: 0px 0px 0px 0px;
        color: rgb(55, 55, 92);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .section1 .left h1 {
        font-size: 29px;
        padding: 0px 0px 0px 0px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .section1 .left p {
        opacity: 0.6;
        font-size: 15px;
        padding: 0px 10px 15px 0px;
    }
    .section1 .left button {
        font-size: 15px;
        padding: 3px 6px;
        margin-bottom: 70px;
        border: 2px solid rgb(55, 55, 92);
        color: rgb(55, 55, 92);
        position: relative;
    }
    .section1 .right{
        width: 100%;
    }
    .section1 .right img{
        width: 100%;
        height: 350px;
    }
     /* section2  */
.section2 .parth{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px 0px;
    margin-top: 50px;
   padding-left: 10px;

}
 /* section3  */
 .section3 .upper{
    position: relative;
    margin: 0px 20px;
   }
   .section3 .upper h1{
    font-size: 20px;  
   }
   .section3 .lower{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 10px;
    gap: 20px 20px;
    margin: 10px 5px;
    width: 100%;
   }
   .section3 .lower .swara img{
    height: 200px;
    width: 100%;
   }
    /* section4 */
.section4 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.section4 .upper video {
    margin: 50px 0px 30px 0px;
    height: 150px;
    border-radius: 10px;
}

.section4 .upper video source {
    width: 9%;
}

.section4 .lower {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.section4 .lower .left {
    width: 100%;
    padding-left: 40px;
}

.section4 .lower .left span::before {
    content: "";
    background-color: red;
    position: absolute;
    height: 3px;
    width: 50px;
    top: 3%;
    left: 40px;
}

.section4 .lower .left span {
    color: rgb(55, 117, 117);
    margin-left: 60px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section4 .lower .left h1 {
    font-size: 20px;
    margin: 5px 0px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section4 .lower .right {
    width: 100%;
    margin: 30px 0px 0px 0px;
}

.section4 .lower .right p{
    font-size: 18px;
    opacity: .6;
    line-height: 20px;
    padding-left: 30px;
}
/* section5 */
.section5{
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
}

.section5 .upper{
    position: relative;
}

.section5 .upper span::before {
    content: "";
    background-color: red;
    position: absolute;
    height: 3px;
    width: 40px;
    top: 16%;
    left: 50px;
}

.section5 .upper span {
    color: rgb(55, 117, 117);
    margin-left: 30%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section5 .upper h1 {
    font-size: 30px;
    margin: 5px 0px 0px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section5 .lower{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 30px 0px 20px 50px;
    gap: 30px 0px;
}
/* section6 */
.section6 .upper{
    position: relative;
}
.section6 .upper .img1 img{
  width: 100%;
  height: 500px;
  background-attachment: fixed;
  filter: brightness(40%);
}
.section6 .upper .content{
    position: absolute;
    top: 80px;
    left: 0px;
    display: flex;
    flex-direction: unset;
    width: 100%;
}
.section6 .upper .content .left{
    width: 5%;
}
.section6 .upper .content .right{
    width: 94%;
}
.section6 .upper .content .right span:before {
    content: "";
    background-color: red;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 3%;
    left: 6%;
}

.section6 .upper .content .right span {
    color: yellow;
    margin-left: 12%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section6 .upper .content .right h1 {
    font-size: 30px;
    color: white;
    margin: 5px 0px 0px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section6 .upper .content .right p{
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 30px 10px 0px;
}
.section6 .upper .content .right .email{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.section6 .upper .content .right .email input{
    padding: 10px 20px 10px 20px;
    width: 80%;
    font-size: 18px;
    border: hidden;
    border-radius: 10px;
}
.section6 .upper .content .right .email button{
    padding: 10px 20px 10px 20px;
    width: 80%;
    background-color: rgb(235, 68, 96);
    color: white;
    font-size: 18px;
    border: hidden;
    border-radius: 10px;
}
.section6 .upper .content .right h6{
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 15px;
    opacity: .7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 30px 10px 0px;
}
/* section7 */
.section7 .upper{
    margin: 50px 0px 0px 0px ;
    position: relative;
}
.section7 .upper span:before {
    content: "";
    background-color: red;
    position: absolute;
    height: 3px;
    width: 30px;
    top: 10%;
    left: 6%;
}

.section7 .upper span {
    color: rgb(55, 117, 117);
    margin-left: 17%;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section7 .upper h1 {
    font-size: 24px;
    margin: 5px 0px 0px 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.section7 .lower {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px 6px;
    margin: 50px 20px 0px 20px;
}
/* section8 */
.section8{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 50px 10px;
    margin: 70px 0px 0px 0px;
    padding: 30px 20px 0px 20px;
    background-color: rgb(31, 30, 30);
    color: whitesmoke;
    width: 100%;
}
/* footer */
.footer{
    display: flex;
    width: 100%;
    padding: 20px 0px 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: #fff;
    font-size: 13px;
    flex-direction: column;
}
.footer .left{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px 0px;
}
.footer .left p{
    opacity: .5;
    margin: 0px 0px 0px 20px;
}
.footer .left span{
    font-weight: 500;
    margin: 0px 0px 0px 100px;
}
.footer .right{
    width: 100%;
    margin: 20px 0px 0px 30px;
}
.footer .right ul li{
    margin: 0px 16px 0px 0px;
}
.footer .right ul li a{
    font-size: 13px;
}
}